import turtle


def perform_switch_case(state, t, turn):
    x = round(t.position()[0] / 10)
    y = round(t.position()[1] / 10)
    num_turns = 5

    {% for state_codename in state_list %}
    if state == "{{ state_codename }}":
        {# СНАЧАЛА ВЫПОЛНЯЕМ ПРОЦЕССЫ, КОТОРЫЕ ПРОИСХОДЯТ ВНУТРИ СОСТОЯНИЯ #}
        {% for process_code in state_list[state_codename].processes %}
        {{ process_code }}  # {{ state_list[state_codename].processes[process_code] }}
        {% endfor %}

        {# ПОТОМ ПРОВЕРЯЕМ УСЛОВИЯ ДЛЯ ПЕРЕХОДА В ДРУГОЕ СОСТОЯНИЕ #}
        {% for transition in state_list[state_codename].transitions %}
        if {{ transition.condition }}:
            state = "{{ transition.state_to }}"
            {% for action_code in transition.actions_after %}
            {{ action_code }}  # {{ transition.actions_after[action_code] }}
            {% endfor %}
            return state, turn
        {% endfor %}
        return state, turn
    {% endfor %}
    return state, turn


def draw():
    start_state = "{{ start_state }}"
    end_state = "{{ end_state }}"
    curr_state = start_state
    t = turtle.Turtle()
    t.speed(0)
    turn = 1

    while curr_state != end_state:
        curr_state, turn = perform_switch_case(curr_state, t, turn)
    turtle.done()


if  __name__ == "__main__":
    draw()